  <ion-popover-view>    
    <ion-content>
        <ion-list>
            
            <ion-item class="item" ng-click="addFavorite({{dish.id}})">
                Add to Favorite
            </ion-item>
           <ion-item>
               <div class="buttons">
               <button class="button button-icon" ng-click="modal.show()">Add Comment
                </button>
               </div>
            </ion-item>            
          
        </ion-list>   
    </ion-content>
  </ion-popover-view>

